<div class="container">
  <div class="search-section mat-elevation-z8">
    <div class="search-header">
      <h2>Tìm kiếm người dùng</h2>
    </div>
    <div class="search-bar">
      <div class="search-control">
        <mat-form-field appearance="outline">
          <mat-label>Tìm kiếm</mat-label>
          <input [formControl]="searchControl" matInput>
          <mat-hint>Tìm kiếm bằng tên nhân viên hoặc mã nhân viên</mat-hint>
          <mat-error *ngIf="searchControl.errors">Vui lòng nhập ít nhất 3 ký tự</mat-error>
        </mat-form-field>
      </div>
      <button (click)="searchUsers()" color="primary" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <div class="spacer"></div>
      <button [matMenuTriggerFor]="menu" class="btn-add" color="primary" mat-button>
        <mat-icon>add</mat-icon>
        Thêm người dùng
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openUserManipulationDialog()" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Thêm người dùng thủ công</span>
        </button>
        <button (click)="openImportUserDialog()" mat-menu-item>
          <mat-icon>file_upload</mat-icon>
          <span>Nhập bằng excel</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="userDataSource.data?.length" class="card mat-elevation-z8">
    <div class="card-header">
      <h2>Danh sách người dùng</h2>
    </div>

    <div class="card-contetn">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Người dùng khả dụng">
          <table [dataSource]="userDataSource" mat-table>

            <ng-container matColumnDef="position">
              <th *matHeaderCellDef mat-header-cell>Stt</th>
              <td *matCellDef="let i = index" mat-cell> {{i + 1}} </td>
            </ng-container>


            <ng-container matColumnDef="userId">
              <th *matHeaderCellDef mat-header-cell>Mã nhân viên</th>
              <td *matCellDef="let element" mat-cell>{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell>Họ và tên</th>
              <td *matCellDef="let element" mat-cell> {{element.lastName + ' ' + element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th *matHeaderCellDef mat-header-cell>Trạng thái</th>
              <td *matCellDef="let element" [ngStyle]="{'color': element.status === 100? 'green' : 'red'}" mat-cell>
                {{element.status === 100 ? 'Bình thường' : 'Bị chặn'}}
                <!--              <mat-button-toggle-group>-->
                <!--                <mat-button-toggle style="color: red">Bị chặn</mat-button-toggle>-->
                <!--                <mat-button-toggle style="color: green" checked>Bình thường</mat-button-toggle>-->
                <!--              </mat-button-toggle-group>-->
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let element" mat-cell>
                <button [matMenuTriggerFor]="actionMenu" aria-label="Example icon-button with a menu" mat-icon-button>
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #actionMenu="matMenu">
                  <button (click)="openUserManipulationDialog(element)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Cập nhật thông tin</span>
                  </button>

                  <button (click)="assignRole(element)" mat-menu-item>
                    <mat-icon>person_add</mat-icon>
                    <span>Thêm quyền người dùng</span>
                  </button>

                  <button (click)="resetPassword(element)" mat-menu-item>
                    <mat-icon>password</mat-icon>
                    <span>Đặt lại mật khẩu</span>
                  </button>
                  <button (click)="openBlockDialog(element.id, element.status === 100 ? 110 : 100)" mat-menu-item>
                    <mat-icon>block</mat-icon>
                    <span style="color: red">{{element.status === 100 ? 'Chặn' : 'Bỏ chặn'}}</span>
                  </button>
                  <button (click)="openConfirmDisableDialog(element.id)" mat-menu-item>
                    <mat-icon>person_off</mat-icon>
                    <span style="color: red">Vô hiệu hoá</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="userTableColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: userTableColumns;" mat-row></tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </mat-tab>
        <mat-tab [disabled]="disabledUserDataSource.data.length === 0" label="Người dùng bị vô hiệu hoá">
          <table [dataSource]="disabledUserDataSource" mat-table>
            <ng-container matColumnDef="position">
              <th *matHeaderCellDef mat-header-cell>Stt</th>
              <td *matCellDef="let i = index" mat-cell> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell>Mã nhân viên</th>
              <td *matCellDef="let element" mat-cell> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell>Họ và tên</th>
              <td *matCellDef="let element" mat-cell> {{element.lastName + ' ' + element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th *matHeaderCellDef mat-header-cell>Email</th>
              <td *matCellDef="let element" mat-cell> {{element.email}} </td>
            </ng-container>

            <tr *matHeaderRowDef="disabledUserTableColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: disabledUserTableColumns;" mat-row></tr>
          </table>
          <mat-paginator #disablePaginator [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div *ngIf="isNotFoundUser" class="not-found-section">
    <h1>Không tìm thấy người dùng</h1>
  </div>
</div>
