<div class="mat-dialog-header">
  <h1>Chi tiết nhân viên</h1>
  <button mat-dialog-close="" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div *ngIf="user" class="card mat-elevation-z8">
    <h2 class="card-header">Thông tin nhân viên</h2>
    <div class="card-content">
      <div class="info-section">
        <div class="info-title">Mã nhân viên</div>
        <div class="info-content">{{user.id}}</div>
      </div>
      <div class="info-section">
        <div class="info-title">Họ và tên</div>
        <div class="info-content">{{user.lastName}} {{user.firstName}}</div>
      </div>
      <div class="info-section">
        <div class="info-title">Số điện thoại</div>
        <div class="info-content">{{user.phone}}</div>
      </div>
      <div class="info-section">
        <div class="info-title">Email</div>
        <div class="info-content">{{user.email}}</div>
      </div>
      <div class="info-section">
        <div class="info-title">Mã phòng ban</div>
        <div class="info-content">{{user.departmentId}}</div>
      </div>
    </div>

  </div>
  <div class="card mat-elevation-z8">
    <h2 class="card-header">Danh sách check-in tháng {{viewDate.getMonth() + 1}}</h2>
    <div class="card-content">
      <mwl-calendar-month-view [cellTemplate]="customCellTemplate" [viewDate]="viewDate"></mwl-calendar-month-view>
    </div>
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <!--    <span class="cal-day-badge" *ngIf="day.badgeTotal == 0">{{ day.badgeTotal }}</span>-->
        <span class="cal-day-number"
        >{{day.date | date: 'dd'}}</span
        >
      </div>
      <div *ngIf="getCheckin(day.date); let checkin" style="margin: 5px">
        <mat-icon *ngIf="formatMaskStatus(checkin.faceMaskStatus); let status" [class]="status.style" [matTooltip]="status.tooltip">masks
        </mat-icon>
        <mat-icon *ngIf="formatTemperatureStatus(checkin.temperature); let status" [class]="status.style" [matTooltip]="status.tooltip
        +' ˚C'">
          device_thermostat
        </mat-icon>
        <mat-icon *ngIf="formatCheckinStatus(checkin.status); let status" [class]="status.style"
                  [matTooltip]="status.tooltip">{{status.icon}}</mat-icon>
      </div>

    </ng-template>
  </div>
  <!--    <div class="card-content">-->
  <!--      <table [dataSource]="checkinDataSource" mat-table>-->
  <!--        <ng-container matColumnDef="no">-->
  <!--          <th *matHeaderCellDef mat-header-cell>-->
  <!--            Số thứ tự-->
  <!--          </th>-->
  <!--          <td *matCellDef="let element, let i= index" mat-cell> {{i + 1}} </td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="checkinTime">-->
  <!--          <th *matHeaderCellDef mat-header-cell>-->
  <!--            Thời gian-->
  <!--          </th>-->
  <!--          <td *matCellDef="let element;" mat-cell> {{element.checkinTime | date:'short'}} </td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="temperature">-->
  <!--          <th *matHeaderCellDef mat-header-cell>-->
  <!--            Nhiệt độ-->
  <!--          </th>-->
  <!--          <td *matCellDef="let element" mat-cell>{{element.temperature}}</td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="maskStatus">-->
  <!--          <th *matHeaderCellDef mat-header-cell>-->
  <!--            Trạng thái khẩu trang-->
  <!--          </th>-->
  <!--          <td *matCellDef="let element" mat-cell>-->
  <!--            <div *ngIf="formatMaskStatus(element.faceMaskStatus); let status" [matTooltip]="status.tooltip">-->
  <!--              <mat-icon [class]="status.style">masks</mat-icon>-->
  <!--            </div>-->
  <!--          </td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="checkinStatus">-->
  <!--          <th *matHeaderCellDef mat-header-cell>-->
  <!--            Trạng thái checkin-->
  <!--          </th>-->
  <!--          <td *matCellDef="let element" mat-cell>-->
  <!--            <div *ngIf="formatCheckinStatus(element.status); let status" [matTooltip]="status.tooltip">-->
  <!--              <mat-icon [class]="status.style">{{status.icon}}</mat-icon>-->
  <!--            </div>-->
  <!--          </td>-->
  <!--        </ng-container>-->

  <!--        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>-->
  <!--        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>-->
  <!--      </table>-->

  <!--      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>-->
  <!--    </div>-->
</div>
