.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  padding: 20px;
}

.expanded-panel-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;

  mat-form-field {
    flex: 1;
  }
}
