.status-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 30px;
}

.status-section-header {
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 10px;
  background-color: #3f51b5;
  color: white;
}

mat-divider {
  background-color: #3f51b5;
}

.status-section-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  mat-card {
    padding: 20px;
    width: 280px;
  }
}

.card-header {
  height: 60%;
  font-size: 18px;
  font-weight: 400;
  color: #939393;
  text-align: center;
  border-bottom: 1px solid #3f51b5;
  margin-bottom: 10px;
}

.card-content {
  h4 {
    font-size: 28px;
    font-weight: 700;
  }

  text-align: right;
}

.data-section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 20px;
}

.data-section-header {
  background-color: #3f51b5;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 10px;
}

.filter-section {
  padding: 20px;
}

.table-section {

}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #e8e8e8;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

mat-paginator {
  border-radius: 0 0 20px 20px;
}
