<div class="container">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let i = index" mat-cell> {{i}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="userId">
      <th *matHeaderCellDef mat-header-cell> Mã nhân viên</th>
      <td *matCellDef="let element" mat-cell> {{element.reportedUserId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell>Thời gian</th>
      <td *matCellDef="let element" mat-cell> {{element.reportDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="openDialog(element.id)" color="primary" mat-icon-button>
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

</div>
