.search-bar {
  display: flex;
  gap: 10px;
  align-items: baseline;
  flex-wrap: wrap;

  .search-control {
    flex: 2;

    mat-form-field {
      width: 100%;
    }
  }

  .spacer {
    flex: 2;
  }
}

.table-section {
  margin-top: 20px;

  table {
    width: 100%;
  }
}

.not-found-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #939393;
}

