.search-section {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search-header {
  background-color: #3f51b5;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 10px;
}

.search-bar {
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: baseline;
  flex-wrap: wrap;

  .search-control {
    mat-form-field {
      width: 35ch;
    }
  }

  .spacer {
    flex: 1;
  }
}

.data-section {
  margin-top: 20px;
}

.filter-panel-content {

}

.center {
  display: flex;
  justify-content: center;
}

.table-section {
  border-radius: 20px;
  width: 80%;
  margin-top: 20px;

  table {
    width: 100%;
  }
}

tr:nth-child(even) {
  background-color: #e8e8e8;
}

.section-header {
  border-radius: 20px 20px 0 0;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  color: white;
}

mat-paginator {
  border-radius: 0 0 20px 20px;
}


.not-found-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #939393;
}

mat-button-toggle-group {
  height: 80%;
}

