<div mat-dialog-title>
  <h1>Báo cáo chi tiết</h1>
  <div class="spacer"></div>
  <button mat-dialog-close="" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="flex" mat-dialog-content>

  <div *ngIf="diseaseReport" class="card mat-elevation-z8 mr-10 flex-1">
    <h2 class="card-header ">Thông tin chung</h2>
    <div class="card-content">

      <div class="info-section">
        <div class="info-title">Mã nhân viên</div>
        <div class="info-content">{{diseaseReport.reportedUserId}}</div>
      </div>

      <div class="info-section">
        <div class="info-title">Họ và tên</div>
        <div class="info-content">{{diseaseReport.reportedUser.lastName}} {{diseaseReport.reportedUser.firstName}}</div>
      </div>

      <div class="info-section">
        <div class="info-title">Ngày tạo</div>
        <div class="info-content">{{diseaseReport.reportDate | date}}</div>
      </div>

      <div class="info-section">
        <div *ngIf="diseaseReport.note" class="info-title">Ghi chú</div>
        <div class="info-content">{{diseaseReport.note}}</div>
      </div>
      <!--      <div class="info-section">-->
      <!--        <div class="info-title">Tên nhân viên</div>-->
      <!--        <div class="info-content">{{diseaseReport.reportUser.lastName + ' ' + diseaseReport.reportUser.firstName}}</div>-->
      <!--      </div>-->
      <div class="info-section">
        <div class="info-title">Mẫ chuẩn đoán (tham khảo)</div>
        <div class="info-content">{{diseaseReport.diseaseCode}}</div>
      </div>

    </div>
  </div>

  <div *ngIf="diseaseReport?.reportImageUrls" class=" card mat-elevation-z8 flex-1">
    <h2 class="card-header">Hình ảnh thêm</h2>
    <!--    <div class="card-content cdk-virtual-scroll-data-source-example">-->
    <!--      <cdk-virtual-scroll-viewport  orientation="horizontal" itemSize="200" class="gallery-viewport">-->
    <!--        <div *cdkVirtualFor="let item of diseaseReport.reportImageUrls" class="gallery-item">-->
    <!--          <img  [src]="item" alt="" class="img-cover" width="100%">-->
    <!--        </div>-->
    <!--      </cdk-virtual-scroll-viewport>-->
    <!--    </div>-->
    <div class="card-content flex main-center cross-center mb-10">
      <gallery [items]="galleryItems" gallerize=""></gallery>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <div *ngIf="!shouldShowNotifyForm">
    <button (click)="approve()" color="primary" mat-flat-button>
      Chấp nhận
    </button>
    <button (click)="showNotifyForm()" color="primary" mat-flat-button>
      Chấp nhận và thông báo
    </button>
  </div>
  <div *ngIf="shouldShowNotifyForm">
    <mat-form-field appearance="outline" class="action-form-field">
      <mat-label>Số ngày cần truy vết thông báo</mat-label>
      <input [formControl]="dateRangeControl" matInput type="number">
      <mat-error *ngIf="dateRangeControl.hasError('required')">Vui lòng nhập số ngày</mat-error>
      <mat-error *ngIf="dateRangeControl.hasError('min')">Vui lòng nhập không ít hơn 1 ngày</mat-error>
      <mat-error *ngIf="dateRangeControl.hasError('max')">Vui lòng nhập không vượt quá 30 ngày</mat-error>
    </mat-form-field>
    <button (click)="notify()" [disabled]="dateRangeControl.invalid" color="primary" mat-icon-button>
      <mat-icon>notifications_active</mat-icon>
    </button>
  </div>

</div>
