/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$my-custom-level: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$my-custom-typo: mat.define-typography-config(
  $body-1: $my-custom-level,
  $caption: mat.define-typography-level(1rem, 1, 300),
);

@include mat.core($my-custom-typo);


html, body {
  height: 100vh;
}

body {
  margin: 0;
}

.container {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.main-center {
  justify-content: center;
}

.cross-center {
  alignment: center;
}

.flex-collum {
  display: flex;
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.main-space-around {
  justify-content: space-around;
}

.main-space-evenly {
  justify-content: space-evenly;
}

.mat-dialog-container {
  border-radius: 20px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.green-snackbar {
  background-color: #018f01;
  color: whitesmoke;
}

.red-snackbar {
  background-color: #c40101;
  color: whitesmoke;
}
