<div mat-dialog-title>
  <h1>Đặt lại mật khẩu</h1>
</div>

<div mat-dialog-content>
  <h2>Người dùng hiện tại liên kết với {{data.accounts.length}} tài khoản, vui lòng chọn tài khoản để đặt lại mật khẩu</h2>
  <mat-form-field appearance="outline">
    <mat-label>Tài khoản</mat-label>
    <mat-select [formControl]="usernameControl" required>
      <mat-option *ngFor="let account of data.accounts" [value]="account.username">
        {{account.username}} - {{account.role?.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="usernameControl.hasError('required')">Vui lòng chọn tài khoản</mat-error>
  </mat-form-field>
  <h2>Mật khẩu mới sẽ được gửi vào mail: {{data.email}}</h2>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <button color="warn" mat-button mat-dialog-close="">Huỷ</button>
  <button (click)="resetPassword()" [disabled]="usernameControl.invalid" color="primary" mat-raised-button>Đặt lại</button>
</div>
